{
  "parserOptions": {
    "ecmaVersion": 13
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-extra-semi": "error",
    "quotes": ["error", "single"],
    "no-unused-expressions": "error",
    "no-trailing-spaces": "error",
    "no-unused-vars": "error",
    "no-console": ["warn", { "allow": ["warn", "error"] }] 
  }
}
